#newpage>fieldset>* {
    float:left;
}
#newpage legend {
    float:none;
    padding:2px;
}
#newpage>fieldset, #newpage label, #newpage select {
    margin:5px 0;
}
#newpage input[type="submit"] {
    clear:left;
}
#newpage select  {
    clear:left;
    width: 300px;
}
#newpage label.info {
    clear:left;
    width: 150px;
}
#newpage input[type="checkbox"] {
    float:right;
}
#newpage label.error {
    color:red;
}
#pages {
    border-collapse:collapse;
    background-color:#EAEAEA;
}
#pages td, #pages th {
    border: 1px solid black;
    padding:5px;
}
#ui-datepicker-div {
    font-size:11px;
}
tr.newrow,form input.ng-dirty.ng-valid {
    background-color: lightgreen;
}
tr.newrow>td.invalid,form input.ng-dirty.ng-invalid {
    background-color: lightcoral;
}
caption {
    padding:10px;
}
th {
    font-family:monospace;
}
th:hover {
    cursor:pointer;
}
th.active {
    background-color: black;
    color:white;
}
th.active.desc:after {
    content: ' \25be';
}
th.active.asc:after {
    content: ' \25b4';
}