body {
    background-color: #F5fafa;
}

body>* {
    margin: 10px;
    display:block;
    font-family: sans-serif;

}
#user {
    border: solid black;
    border-radius: 10px 10px 0 0;
    border-width: 1px 1px 0;
    float:none;
    margin-bottom:0;
}
#jobs {
    margin: 0 10px;
}
table {
    border: 1px solid black;
}
th {
    font-weight: bold;
}
td,th {
    padding: 2px 5px;
    text-align:center;
}
tbody>tr:nth-child(odd) {
    background: #B1E0FF;
}
tbody>tr:nth-child(even),thead>tr {
    background: #DEFCFF;
}
tbody>tr:hover {
    background: #C3C3C3;
    cursor: default;
}
.block {
    border-radius: 0px;
    padding: 10px;
    display:block;
    border-color: #000000;
    box-sizing: border-box;
    float:left;
}
button,select {
    -webkit-appearance:none;
}
#taskform, pre {
    float:left;
    margin: 0 0 10px 10px;
}
.left,.whole {
    clear: left;
}
.whole {
    width: 500px;
    border-width:1px 5px;
}
.half {
    width:250px;
}
.left {
    border-width: 1px 1px 1px 5px;
}
.right {
    border-width: 1px 5px 1px 1px;
}
.top.block {
    border-top-width: 5px;
}
.top.left.block {
    border-radius: 10px 0 0 0;
}
.top.right.block {
    border-radius: 0 10px 0 0;
}
.bottom.block {
    border-radius: 0 0 10px 10px;
    border-bottom-width: 5px;
}
::-webkit-input-placeholder {
    color: inherit;
    text-transform:initial;
}
.block:valid {
    background-color: #FFFDD2;
    color: black;
}
.block:invalid {
    background-color: #FF9B00;
    color: black;
}
#nhi,#bed {
    text-transform: uppercase;
}
#addthis:disabled {
    color:black;
    background-color: lightgrey;
}
#addthis:enabled {
    background-color:gold;
    color: #000;
    font-weight:bold;
}
pre {
    display:none;
    background-color: lightgrey;
    word-wrap:break-word;
}

.button {
    text-align: center;
    border-radius:10px;
    padding: 5px 10px;
    background-color: green;
    color:white;
}
.button:hover {
    background-color: #004400;
    color:white;
    cursor:pointer;
}
[title] {
    display: block;
    margin:2px 0;
}
[title]:hover {
    cursor: help;
    background-color:gold;
}
td.details {
    text-align:left;
}
#addrandom {
    margin: 0 10px 10px;
    border-radius: 0 0 10px 10px;
    border: solid #000;
    border-width: 0 1px 1px;

}