.label {
    cursor: default;
    /* float: left; */
    /* clear: left; */
    margin: 1px;
}
body>div>* {
    margin:10px 0;
}
#user-tab span.glyphicon {
    margin-left:15px;
}
.who {
    color:#3C763D;
}
.what {
    color: #8A3B74;
}
.when {
    color: #0087DA;
}
#user-panel p {
    margin-top:20px;
}
#addrandom {
    margin:10px 0;
}