input[upper-case]::-webkit-input-placeholder {text-transform: none;}
input[upper-case]:-ms-input-placeholder {text-transform: none;}
betterpage-main,betterpage-form,betterpage-preview,betterpage-outcome,betterpage-log,custom-input,button-panel {display:block;}
#hours{display:inline-block;width:auto;vertical-align:middle}
