<fieldset>
    <legend>To</legend>
    <div class="row">
        <select-input reference="ptpage" class="form-group col-sm-6"></select-input>
        <text-input reference="no" class="form-group col-sm-6"></text-input>
    </div>
</fieldset>
<div ng-if="model.data.ptpage">
    <fieldset>
        <legend>From</legend>
        <div class="row">
            <text-input reference="caller" class="form-group col-sm-6"></text-input>
            <text-input reference="phone" class="form-group col-sm-6"></text-input>
        </div>
        <div class="row">
            <response-required-input class="form-group col-sm-6"></response-required-input>
            <text-input reference="within" class="form-group col-sm-6"></text-input>
        </div>
    </fieldset>
    <fieldset>
        <legend>Patient</legend>
        <div class="row">
            <text-input reference="patient" class="form-group col-sm-6"></text-input>
            <text-input reference="nhi" class="form-group col-sm-6"></text-input>
        </div>
        <div class="row">
            <text-input reference="ward" class="form-group col-sm-6"></text-input>
            <text-input reference="bed" class="form-group col-sm-6"></text-input>
        </div>
    </fieldset>
    <fieldset>
        <legend>Details</legend>
        <div class="row">
            <select-input reference="why" class="form-group col-sm-6"></select-input>
            <text-input reference="details" class="form-group col-sm-6"></text-input>
        </div>
    </fieldset>
</div>
<div ng-if="!model.data.ptpage">
    <fieldset>
        <legend>Contents</legend>
        <text-input reference="contents" class="form-group"></text-input>
    </fieldset>
</div>
<button-panel class="form-group"></button-panel>