<fieldset>
    <legend>To</legend>
    <div class="form-group">
        <select-input reference="ptpage" class="col-xs-6"></select-input>
        <text-input reference="no" class="col-xs-6"></text-input>
    </div>
</fieldset>
<div ng-if="model.data.ptpage">
    <fieldset>
        <legend>From</legend>
        <div class="form-group">
            <text-input reference="caller" class="col-xs-6"></text-input>
            <text-input reference="phone" class="col-xs-6"></text-input>
        </div>
        <div class="form-group">
            <response-required-input class="col-xs-6"></response-required-input>
            <text-input reference="within" class="col-xs-6"></text-input>
        </div>
    </fieldset>
    <fieldset>
        <legend>Patient</legend>
        <div class="form-group">
            <text-input reference="patient" class="col-xs-6"></text-input>
            <text-input reference="nhi" class="col-xs-6"></text-input>
        </div>
        <div class="form-group">
            <text-input reference="ward" class="col-xs-6"></text-input>
            <text-input reference="bed" class="col-xs-6"></text-input>
        </div>
    </fieldset>
    <fieldset>
        <legend>Details</legend>
        <div class="form-group">
            <select-input reference="why" class="col-xs-6"></select-input>
            <text-input reference="details" class="col-xs-6"></text-input>
        </div>
    </fieldset>
</div>
<div ng-if="!model.data.ptpage">
    <fieldset>
        <legend>Contents</legend>
        <div class="form-group">
            <text-input reference="contents" class="col-xs-12"></text-input>
        </div>
    </fieldset>
</div>
<button-panel class="form-group"></button-panel>