<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>BetterPage</title>
        <link rel="icon" type="image/x-icon" href="favicon.ico">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular-messages.js"></script>
        <script type="text/javascript">
(function() {
    "use strict";
    angular.module('betterpageMain', ['ngMessages'])
    .config(['$compileProvider', '$locationProvider', 
        function($compileProvider, $locationProvider) {
            $compileProvider.debugInfoEnabled(false);
            $locationProvider.html5Mode({
                enabled: true,
                requireBase: false
            });
        }
    ])
    .factory('betterpageModel', ['betterpageParams', 'betterpageSubmit', 'betterpageReasons', function betterpageModelFactory(betterpageParams, betterpageSubmit, betterpageReasons) {
            function generateMsg() {
                var data = this.data;
                if (data.ptpage) {
                    return (data.phone || "") + 
                    (data.reply && data.within ? "<" + data.within + "m" : "") + 
                    (data.caller ? "(" + data.caller + ")" : "") + 
                    (data.nhi ? " " + data.nhi : "") + 
                    (data.patient ? "(" + data.patient + ")" : "") + 
                    ((data.ward || data.bed) ? "[" + (data.ward || "") + "-" + (data.bed || "") + "]" : "") + 
                    (data.why ? " " + data.why : "") + 
                    (data.details ? " (" + data.details + ")" : "");
                } else {
                    return data.contents || '';
                }
            }
            function resetItems() {
                this.data = angular.extend({
                    reply: false,
                    private: false,
                    ptpage: this.data.ptpage
                }, betterpageParams);
            }
            function itemize() {
                var params = {
                    no: this.data.no,
                    ptpage: this.data.ptpage,
                    msg: this.generateMsg()
                };
                if (this.data.ptpage) {
                    params.phone = this.data.phone;
                    params.caller = this.data.caller;
                    params.reply = this.data.reply;
                    params.within = this.data.within;
                    params.patient = this.data.patient;
                    params.nhi = this.data.nhi;
                    params.ward = this.data.ward;
                    params.bed = this.data.bed;
                    params.why = this.data.why;
                    params.details = this.data.details;
                    params.private = false;
                } else {
                    params.contents = this.data.contents;
                    params.private = this.data.private;
                }
                return params;
            }
            function send() {
                var items = this.itemize();
                items.bp = items.ptpage ? (betterpageReasons[items.why].beep) : 1;
                return betterpageSubmit(items);
            }
            var model = {
                data: {ptpage: true},
                resetItems: resetItems,
                itemize: itemize,
                generateMsg: generateMsg,
                send: send
            };
            model.resetItems();
            return model;
        }])
    .factory('betterpageParams', ['$location', function betterpageParamsFactory($location) {
            var getParams = $location.search(), 
            numbers = [];
            if (angular.isDefined(getParams.no)) {
                angular.forEach(getParams.no.split(';'), function(str) {
                    if (/^20[0-9]{3}$/.test(str)) {
                        numbers.push(parseInt(str, 10));
                    }
                });
            }
            getParams.no = numbers;
            var within = parseInt(getParams.within, 10);
            if (within) {
                getParams.within = within;
            } else {
                delete getParams.within;
            }
            return getParams;
        }])
    .factory('betterpageSubmit', ['$http', function betterpageSubmitFactory($http) {
            return function(items) {
                var submiturl = './submit.php', 
                pageurl = 'http://10.134.0.150/cgi-bin/npcgi';
                //Test feature
                if (confirm('Attempt to send this page via the intranet?')) {
                    var popup = window.open(pageurl + '?bp=' + items.bp + '&no=' + items.no + '&msg=' + encodeURIComponent(items.msg), '_blank');
                    if (!popup) {
                        alert('Please allow popups for this function to succeed');
                    }
                }
                return $http.post(submiturl, items);
            };
        }])
    .constant('betterpageReasons', {
        // 1: no clinical concern, 2: low 3: medium 4: high priority concern
        "ADDS 3": {beep: 2,group: "High ADDS - specify why"},
        "ADDS 4": {beep: 3,group: "High ADDS - specify why"},
        "ADDS 5+": {beep: 4,group: "High ADDS - specify why"},
        "Pain": {beep: 2,group: "Concern"},
        "Short of breath": {beep: 3,group: "Concern"},
        "Nausea": {beep: 2,group: "Concern"},
        "Urinary retention": {beep: 2,group: "Concern"},
        "Wound": {beep: 2,group: "Concern"},
        "Clarify plan": {beep: 1,group: "Concern"},
        "Fluids": {beep: 1,group: "Medication"},
        "Sleeping pill": {beep: 1,group: "Medication"},
        "Laxatives": {beep: 1,group: "Medication"},
        "Regular Meds": {beep: 1,group: "Medication"},
        "IV line/bloods": {beep: 1,group: "Task"},
        "Review result": {beep: 1,group: "Task"},
        "Admit": {beep: 1,group: "Task"},
        "Discharge": {beep: 1,group: "Task"},
        "Rechart": {beep: 1,group: "Task"},
        "Consent": {beep: 1,group: "Task"},
        "Inform": {beep: 1,group: "Other - specify below"},
        "Call urgently!": {beep: 4,group: "Other - specify below"},
        "Review urgently!": {beep: 4,group: "Other - specify below"},
        "Custom": {beep: 1,group: "Other - specify below"}
    })
    .constant('betterpageCharLimit', 128)
    .constant('betterpageChoices', {
        "Page about a patient": true,
        "Page about something else": false
    })
    .constant('betterpageHeaders', ['Timestamp', 'To', 'Caller', 'Phone', 'Within (mins)', 'Patient', 'NHI', 'Ward', 'Bed', 'Why', 'Details', ''])
    .directive('betterpageMain', function() {
        return {
            restrict: 'A',
            controller: ['betterpageModel', 'betterpageCharLimit', function(betterpageModel, betterpageCharLimit) {
                    var PageCtrl = this;
                    PageCtrl.model = betterpageModel;
                    PageCtrl.display = '';
                    PageCtrl.charLimit = betterpageCharLimit;
                    PageCtrl.update = function() {
                        var items = PageCtrl.model.itemize();
                        PageCtrl.display = items.msg;
                        PageCtrl.overflow = (items.msg.length > PageCtrl.charLimit);
                    };
                    PageCtrl.prevpage = {
                        no: [],
                        msg: '',
                        bp: null,
                        private: null
                    };
                }],
            controllerAs: 'PageCtrl'
        };
    })
    .directive('betterpageForm', function() {
        return {
            restrict: 'E',
            templateUrl: '/form.html',
            link: function(scope, element, attrs, controllers) {
                scope.$watchCollection('PageCtrl.model.data', scope.PageCtrl.update);
            },
            controller: ['$scope', 'betterpageChoices', 'betterpageReasons', function($scope, betterpageChoices, betterpageReasons) {
                    var FormCtrl = this;
                    FormCtrl.choices = betterpageChoices;
                    FormCtrl.reasons = betterpageReasons;
                    FormCtrl.reset = function() {
                        $scope.PageCtrl.model.resetItems();
                        $scope.betterform.$setUntouched();
                        $scope.betterform.$setPristine();
                    };
                    FormCtrl.send = function() {
                        $scope.PageCtrl.model.send().success(function(data, status, headers, config) {
                            if (data.ok) {
                                $scope.PageCtrl.prevpage = config.data;
                                FormCtrl.reset();
                            /*
                        if (config.data.ptpage) {
                            alert("If you requested a review of a patient, please ensure that the notes and chart are in the office.");
                        }
                        */
                            }
                        });
                    };
                }],
            controllerAs: 'FormCtrl'
        };
    })
    .directive('betterpagePreview', function() {
        return {
            restrict: 'E',
            templateUrl: '/preview.html'
        };
    })
    .directive('betterpageOutcome', function() {
        return {
            restrict: 'E',
            templateUrl: '/outcome.html'
        };
    })
    .directive('betterpageLog', function() {
        return {
            restrict: 'E',
            templateUrl: '/pagelog.html',
            controller: ['$http', 'betterpageModel', 'betterpageHeaders', function($http, betterpageModel, betterpageHeaders) {
                    var LogCtrl = this;
                    LogCtrl.reset = function() {
                        LogCtrl.rows = [];
                        LogCtrl.hours = 8;
                        LogCtrl.filterText = '';
                        LogCtrl.fetched = false;
                        LogCtrl.active = false;
                        LogCtrl.pending = false;
                    };
                    LogCtrl.reset();
                    LogCtrl.refresh = function() {
                        LogCtrl.pending = true;
                        $http.get('pagelog_provider.php', {params: {hours: LogCtrl.hours}}).success(function(rows) {
                            LogCtrl.rows = rows;
                            LogCtrl.pending = false;
                            LogCtrl.timestamp = new Date();
                            LogCtrl.active = true;
                        });
                    };
                    LogCtrl.toggle = function() {
                        LogCtrl.active = !LogCtrl.active;
                        if (LogCtrl.active && !LogCtrl.fetched) {
                            LogCtrl.refresh();
                            LogCtrl.fetched = true;
                        }
                    };
                    LogCtrl.copy = function(data) {
                        betterpageModel.data = data;
                        LogCtrl.active = false;
                    };
                    LogCtrl.headers = betterpageHeaders;
                }],
            controllerAs: 'LogCtrl'
        };
    })
    .directive('betterpageNo', function() {
        return {
            restrict: 'A',
            require: 'ngModel',
            link: function(scope, element, attrs, controller) {
                controller.$formatters = [function(value) {
                        return value.join(' ');
                    }];
                controller.$parsers.push(function(viewValue) {
                    var list = [];
                    if (viewValue) {
                        angular.forEach(viewValue.split(' '), function(value) {
                            if (/^[0-9]+$/.test(value)) {
                                list.push(parseInt(value, 10));
                            } else if (value) {
                                list.push(value);
                            }
                        });
                    }
                    return list;
                });
                controller.$validators.allNumbers = function(modelValue) {
                    if (angular.isUndefined(modelValue)) {
                        return;
                    }
                    for (var i = 0; i < modelValue.length; i++) {
                        if (typeof modelValue[i] !== 'number') {
                            return false;
                        }
                    }
                    return true;
                }
                controller.$validators.pagerNumbers = function(modelValue) {
                    if (angular.isUndefined(modelValue)) {
                        return;
                    }
                    for (var i = 0; i < modelValue.length; i++) {
                        var value = modelValue[i];
                        if (typeof value !== 'number' || value < 20000 || value >= 30000) {
                            return false;
                        }
                    }
                    return true;
                }
            
            }
        };
    })
    .directive('titleCase', function() {
        return {
            restrict: 'A',
            require: 'ngModel',
            link: function(scope, element, attrs, controller) {
                controller.$parsers.push(function(str) {
                    return str.replace(/(^([a-z]))|([ -][a-z])/g, function(s) {
                        return s.toUpperCase();
                    });
                });
            }
        };
    })
    .directive('upperCase', function() {
        return {
            restrict: 'A',
            require: 'ngModel',
            link: function(scope, element, attrs, controller) {
                controller.$parsers.push(function(str) {
                    return str.toUpperCase();
                });
            }
        };
    });
})();
        </script>
        <script type="text/ng-template" id="/form.html">
<div class="greybox">
<form ng-submit="FormCtrl.send()" name="betterform" novalidate>
    <select name="ptpage" ng-model="PageCtrl.model.data.ptpage" ng-options="value as label for (label,value) in FormCtrl.choices"></select>

    <fieldset>
    <legend>To</legend>
    <div>
        <label for="no">Pager</label>
        <input id="no" name="no" ng-model="PageCtrl.model.data.no" required betterpage-no />
    </div>
    <div ng-if="betterform.no.$touched && betterform.no.$dirty" ng-messages="betterform.no.$error">
        <label ng-message="required"><em>Pager number</em> is required</label>
        <label ng-message="allNumbers"><em>Pager numbers</em> must be integers separated by spaces</label>
        <label ng-message="pagerNumbers"><em>Pager numbers</em> must be 20 followed by 3 digits</label>
    </div>
    </fieldset>

    <fieldset ng-if="PageCtrl.model.data.ptpage">
    <legend>From</legend>
    <div>
        <label for="caller">Name</label>
        <input title-case id="caller" name="caller" ng-model="PageCtrl.model.data.caller" ng-minlength="2" required />
        <label for="phone">Phone</label>
        <input id="phone" name="phone" ng-model="PageCtrl.model.data.phone" ng-pattern="/^[0-9]+$/" required />
    </div>
    <div ng-if="betterform.caller.$touched && betterform.caller.$dirty" ng-messages="betterform.caller.$error">
        <label ng-message="required"><em>Name</em> is required</label>
        <label ng-message="minlength"><em>Name</em> must be at least 2 characters long</label>
    </div>
    <div ng-if="betterform.phone.$touched && betterform.phone.$dirty" ng-messages="betterform.phone.$error">
        <label ng-message="required"><em>Phone</em> is required</label>
        <label ng-message="pattern"><em>Phone</em> must contain only digits</label>
    </div>
    <div>
        <label for="reply">Response required? <input id="reply" name="reply" ng-model="PageCtrl.model.data.reply" type="checkbox" /></label>
        <label ng-show="PageCtrl.model.data.reply" for="within">within <input id="within" name="within" type="number" ng-model="PageCtrl.model.data.within" ng-required="PageCtrl.model.data.reply" min="1" max="99" ng-pattern="/^[0-9]+$/" /> mins</label>
    </div>
    <div ng-if="betterform.within.$touched && betterform.within.$dirty" ng-messages="betterform.within.$error">
        <label ng-message="required"><em>Response time</em> is required</label>
        <label ng-message="number"><em>Response time</em> must be an number</label>
        <label ng-message="pattern"><em>Response time</em> must be an integer</label>
        <label ng-message="min"><em>Response time</em> must be greater than 0</label>
        <label ng-message="max"><em>Response time</em> must be less than 100</label>
    </div>
    </fieldset>

    <fieldset ng-if="PageCtrl.model.data.ptpage">
    <legend>Patient</legend>
    <div>
        <label for="patient">Name</label>
        <input title-case id="patient" name="patient" ng-model="PageCtrl.model.data.patient" ng-minlength="2" required />
        <label for="nhi">NHI</label>
        <input upper-case id="nhi" name="nhi" ng-model="PageCtrl.model.data.nhi" ng-pattern="/^[A-Z]{3}[0-9]{4}$/" required />
    </div>
    <div ng-if="betterform.patient.$touched && betterform.patient.$dirty" ng-messages="betterform.patient.$error">
        <label ng-message="required"><em>Name</em> is required</label>
        <label ng-message="minlength"><em>Name</em> must be at least 2 characters long</label>
    </div>
    <div ng-if="betterform.nhi.$touched && betterform.nhi.$dirty" ng-messages="betterform.nhi.$error">
        <label ng-message="required"><em>NHI</em> is required</label>
        <label ng-message="pattern"><em>NHI</em> must be valid</label>
    </div>
    <div>
        <label for="ward">Ward</label>
        <input upper-case id="ward" name="ward" ng-model="PageCtrl.model.data.ward" ng-maxlength="3" required />
        <label for="bed">Bed</label>
        <input upper-case id="bed" name="bed" ng-model="PageCtrl.model.data.bed" ng-maxlength="3" required />
    </div>
    <div ng-if="betterform.ward.$touched && betterform.ward.$dirty" ng-messages="betterform.ward.$error">
        <label ng-message="required"><em>Ward</em> is required</label>
        <label ng-message="maxlength"><em>Ward</em> must be 1 to 3 characters long</label>
    </div>
    <div ng-if="betterform.bed.$touched && betterform.bed.$dirty" ng-messages="betterform.bed.$error">
        <label ng-message="required"><em>Bed</em> is required</label>
        <label ng-message="maxlength"><em>Bed</em> must be 1 to 3 characters long</label>
    </div>
    </fieldset>

    <fieldset ng-if="PageCtrl.model.data.ptpage">
    <legend>Details</legend>
    <div>
        <select id="why" name="why" ng-model="PageCtrl.model.data.why" ng-options="reason as reason group by extra.group for (reason,extra) in FormCtrl.reasons" class="whole" required>
            <option value="" selected>Reason for page</option>
        </select>
    </div>
    <div ng-if="betterform.why.$touched && betterform.why.$dirty" ng-messages="betterform.why.$error">
        <label ng-message="required"><em>Reason for page</em> is required</label>
    </div>
    <div>
        <input id="details" name="details" ng-model="PageCtrl.model.data.details" class="whole" placeholder="Specify (optional)" />
    </div>
    </fieldset>

    <fieldset ng-if="!PageCtrl.model.data.ptpage">
    <legend>Contents</legend>
    <div>
        <textarea id="contents" name="contents" ng-model="PageCtrl.model.data.contents" class="whole" required></textarea>
    </div>
    <div ng-if="betterform.contents.$touched && betterform.contents.$dirty" ng-messages="betterform.contents.$error">
        <label ng-message="required"><em>Contents</em> is required</label>
    </div>
    <div>
        <label for="private">Do not log this page <input id="private" name="private" ng-model="PageCtrl.model.data.private" type="checkbox" /></label>
    </div>
    </fieldset>
    <div>
    <input id="submit" ng-disabled="betterform.$invalid || PageCtrl.overflow" type="submit" value="{{ PageCtrl.overflow ? 'Character limit exceeded' : 'Send' }}" />
    <button id="reset" type="button" ng-click="FormCtrl.reset()">Reset</button>
    </div>
</form>
</div>
        </script>
        <script type="text/ng-template" id="/preview.html">
<div class="greybox">
    <h4>Preview</h4>
    <dl>
    <dt>{{PageCtrl.model.data.no.length || 'No'}} recipient{{PageCtrl.model.data.no.length !== 1 ? 's' : ''}}</dt>
    <dd ng-repeat="number in PageCtrl.model.data.no track by $index" ng-bind="number"></dd>
    <dt>Message</dt>
    <dd><pre ng-bind="PageCtrl.display"></pre></dd>
    <dt>Characters</dt>
    <dd ng-bind="PageCtrl.display.length + '/' + PageCtrl.charLimit"></dd>
    </dl>
</div>
        </script>
        <script type="text/ng-template" id="/outcome.html">
<div class="greybox">
    <h4>Outcome</h4>
    <dl>
    <dt>{{PageCtrl.prevpage.no.length || 'No'}} recipient{{PageCtrl.prevpage.no.length !== 1 ? 's' : ''}}</dt>
    <dd ng-repeat="number in PageCtrl.prevpage.no track by $index" ng-bind="number"></dd>
    <dt>Message</dt>
    <dd><pre ng-bind="PageCtrl.prevpage.msg"></pre></dd>
    <dt>Beep code</dt>
    <dd ng-bind="PageCtrl.prevpage.bp"></dd>
    <dt>Logged</dt>
    <dd ng-bind="PageCtrl.prevpage.private ? '&#x2717;' : '&#x2713;'"></dd>
    </dl>
</div>        
        </script>
        <script type="text/ng-template" id="/pagelog.html">
<p>
    Messages from last <input id="hours" type="number" ng-model="LogCtrl.hours" min="1" max="72" ng-pattern="/^[0-9]+$/" /> hours
    <button ng-click="LogCtrl.toggle()" ng-bind="LogCtrl.active ? 'Hide' : 'Show'" ng-disabled="!LogCtrl.fetched && !LogCtrl.hours"></button>
    <span ng-show="LogCtrl.fetched">retrieved at {{LogCtrl.timestamp | date : 'dd/MM/yy HH:mm:ss'}} <button ng-click="LogCtrl.refresh()">Refresh</button></span>
    <span ng-show="LogCtrl.active && LogCtrl.pending">Updating...</span>
</p>
<div ng-show="LogCtrl.active && LogCtrl.fetched">
    <p ng-show="LogCtrl.rows.length"><label for="filter">Filter by: </label><input id="filter" type="search" ng-model="LogCtrl.filterText" /></p>
    <p ng-hide="LogCtrl.rows.length">No messages logged in last {{LogCtrl.hours}} hours</p>
    <p ng-show="LogCtrl.rows.length && !filtered.length">No messages match the filter</p>
    <table ng-show="filtered.length">
        <tr>
            <th ng-repeat="header in LogCtrl.headers" ng-bind="header"></th>
        </tr>
        <tr ng-repeat="page in LogCtrl.rows | filter:LogCtrl.filterText as filtered track by $index">
            <td ng-bind="page.ts * 1000 | date : 'dd/MM/yy HH:mm:ss'"></td>
            <td ng-bind="page.data.no[0]"></td>
            <td ng-if="!page.data.ptpage" ng-bind="page.data.contents" colspan="9"></td>
            <td ng-if="page.data.ptpage" ng-bind="page.data.caller"></td>
            <td ng-if="page.data.ptpage" ng-bind="page.data.phone"></td>
            <td ng-if="page.data.ptpage" ng-bind="page.data.within"></td>
            <td ng-if="page.data.ptpage" ng-bind="page.data.patient"></td>
            <td ng-if="page.data.ptpage" ng-bind="page.data.nhi"></td>
            <td ng-if="page.data.ptpage" ng-bind="page.data.ward"></td>
            <td ng-if="page.data.ptpage" ng-bind="page.data.bed"></td>
            <td ng-if="page.data.ptpage" ng-bind="page.data.why"></td>
            <td ng-if="page.data.ptpage" ng-bind="page.data.details"></td>
            <td><button ng-click="LogCtrl.copy(page.data)">Copy</button></td>
        </tr>
    </table>
</div>
        </script>

        <style type="text/css">
body {
    margin: 5px;
}
body>* {
    float: left;
    margin: 5px;
}
div.greybox {
    padding: 10px;
    background-color: #F4F4F4;
    overflow: auto;
}
#reset {
    float: right;
}
#submit {
    float: left;
}
fieldset {
    overflow: auto;
    margin: 5px 0;
    padding: 5px;
    border: 1px solid black;
}
fieldset>div>* {
    display: inline-block;
    margin: 2px 5px;
}
fieldset input {
    width: 80px;
}
betterpage-log {
    clear: left;
}
#nhi,#ward,#bed {
    text-transform: uppercase;
}
#patient,#caller {
    text-transform: capitalize;
}
#why,#details,#contents {
    width: 290px;
}
#no {
    width: 230px;
}
label[for="reply"],#reply,label[for="within"],label[for="private"],#private {
    width: inherit;
}
#within {
    width: 30px;
}
input.ng-dirty.ng-valid:required,textarea.ng-dirty.ng-valid {
    background-position: right;
    background-repeat: no-repeat;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAZZJREFUeNpi/P//PwMpgImBRMAy58QshrNPTzP8+vOLIUInisFQyYjhz98/DB9/fmT48/+35v7H+8KNhE2+WclZd+G0gZmJmYGThUNz1fUVMZtvbWT59eUXG9wGZIWMUPj993eJ5VeWxuy8veM/CzPL3yfvH/9H0QBSBDYZyOVm4mGYfn6q4cory5lYmFh+MrEwM/76/YsR7mk2ZjbWP///WP37/y8cqIDhx58fjvtu7XV6//ndT34G/v8FasUsDjKO/+A2PP3wpGLd+TVsfOz8XH6KAT+nHpokcu7h6d9q/BoMxToVbBYqlt9///+1GO4/WVdpXqY/zMqXn13/+vTjI9mj94/y//v9/3e9ZRObvYbDT0Y2xnm///x+wsfHB3GSGLf41jb3rv0O8nbcR66d+HPvxf2/+YZFTHaqjl8YWBnm/vv37yly5LL8+vuLgYuVa3uf/4T/Kd8SnSTZpb6FGUXwcvJxbAPKP2VkZESNOBDx8+9PBm4OwR1TwmYwcfzjsBUQFLjOxs52A2YyKysrXANAgAEA7buhysQuIREAAAAASUVORK5CYII=");
}
input.ng-dirty.ng-touched.ng-invalid,textarea.ng-dirty.ng-touched.ng-invalid {
    background-position: right;
    background-repeat: no-repeat;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAT1JREFUeNpi/P//PwMpgImBRMACY/x7/uDX39sXt/67cMoDyOVgMjBjYFbV/8kkqcCBrIER5KS/967s+rmkXxzI5wJiRSBm/v8P7NTfHHFFl5mVdIzhGv4+u///x+xmuAlcdXPB9KeqeLgYd3bDU2ZpRRmwH4DOeAI07QXIRKipYPD35184/nn17CO4p/+cOfjl76+/X4GYAYThGn7/g+Mfh/ZZwjUA/aABpJVhpv6+dQUjZP78Z0YEK7OezS2gwltg64GmfTu6i+HL+mUMP34wgvGvL78ZOEysf8M1sGgZvQIqfA1SDAL8iUUMPIFRQLf+AmMQ4DQ0vYYSrL9vXDz2sq9LFsiX4dLRA0t8OX0SHKzi5bXf2HUMBVA0gN356N7p7xdOS3w5fAgcfNxWtn+BJi9gVVBOQfYPQIABABvRq3BwGT3OAAAAAElFTkSuQmCC");
}
form label {
    text-align: right;
    width: 40px;
}
label[ng-message] {
    width: inherit;
    color: red;
    display: block;
    text-align: left;
}
pre {
    background-color: #E8E8E8;
    width: 20ch;
    padding: 1ch;
    border: 1px solid black;
    font-family: monospace;
    margin: 5px 0;
    white-space: pre-wrap;
    display: block;
}
td,th {
    border: 1px solid black;
    padding: 0 5px;
}
table {
    margin: 10px 0;
    border-collapse: collapse;
}
dl {
    margin: 0;
}
h4 {
    margin:0 0 10px;
}
        </style>
    </head>
    <body ng-app="betterpageMain" betterpage-main>
        <betterpage-form></betterpage-form>
        <betterpage-preview></betterpage-preview>
        <betterpage-outcome ng-if="PageCtrl.prevpage.msg"></betterpage-outcome>
        <betterpage-log></betterpage-log>
    </body>
</html>