<fieldset>
    <legend>To</legend>
    <div class="row">
        <custom-input reference="no" class="col-sm-6"></custom-input>
        <custom-input reference="ptpage" class="col-sm-6"></custom-input>
    </div>
</fieldset>
<div ng-if="model.data.ptpage">
    <fieldset>
        <legend>From</legend>
        <div class="row">
            <custom-input reference="caller" class="col-sm-6"></custom-input>
            <custom-input reference="phone" class="col-sm-6"></custom-input>
        </div>
        <div class="row">
            <custom-input reference="respond" class="col-sm-6"></custom-input>
            <custom-input reference="within" class="col-sm-6"></custom-input>
        </div>
    </fieldset>
    <fieldset>
        <legend>Patient</legend>
        <div class="row">
            <custom-input reference="patient" class="col-sm-6"></custom-input>
            <custom-input reference="nhi" class="col-sm-6"></custom-input>
        </div>
        <div class="row">
            <custom-input reference="ward" class="col-sm-6"></custom-input>
            <custom-input reference="bed" class="col-sm-6"></custom-input>
        </div>
    </fieldset>
    <fieldset>
        <legend>Details</legend>
        <div class="row">
            <custom-input reference="why" class="col-sm-6"></custom-input>
            <custom-input reference="details" class="col-sm-6"></custom-input>
        </div>
    </fieldset>
</div>
<div ng-if="!model.data.ptpage">
    <fieldset>
        <legend>Contents</legend>
        <custom-input reference="contents"></custom-input>
    </fieldset>
</div>
<button-panel class="row form-group"></button-panel>
