<h4>Log</h4>
<p class="form-inline">
    <label for="hours">Messages from last</label> <input id="hours" class="form-control" type="number" ng-model="LogCtrl.hours" min="1" max="72" ng-pattern="/^[0-9]+$/" /> <label for="hours">hours</label>
    <button class="btn btn-default" ng-click="LogCtrl.toggle()" ng-bind="LogCtrl.active ? 'Hide' : 'Show'" ng-disabled="!LogCtrl.fetched && !LogCtrl.hours"></button>
    <span ng-show="LogCtrl.fetched"><label for="refresh">retrieved at {{LogCtrl.timestamp | date : 'dd/MM/yy HH:mm:ss'}}</label>
    <button class="btn btn-default" id="refresh" ng-disabled="!LogCtrl.hours" ng-click="LogCtrl.refresh()">Refresh</button></span>
    <span ng-show="LogCtrl.active && LogCtrl.pending">Updating...</span>
</p>
<div ng-show="LogCtrl.active && LogCtrl.fetched">
    <p ng-show="LogCtrl.rows.length" class="form-inline">
        <label for="filter">Filter by</label>
        <input id="filter" class="form-control" type="search" ng-model="LogCtrl.filterText" />
    </p>
    <p ng-hide="LogCtrl.rows.length">No messages logged in last {{LogCtrl.requestHours}} hours</p>
    <p ng-show="LogCtrl.rows.length && !filtered.length">No messages match the filter</p>
    <div class="table-responsive">
    <table class="table table-condensed table-hover table-bordered table-striped" ng-show="filtered.length">
        <thead>
            <tr><th>Timestamp</th><th>To</th><th>Caller</th><th>Phone</th><th>Within (mins)</th><th>Patient</th><th>NHI</th><th>Ward</th><th>Bed</th><th>Why</th><th>Details</th><th></th></tr>
        </thead>
        <tbody>
            <tr ng-repeat="page in LogCtrl.rows | filter:LogCtrl.filterText as filtered track by $index">
                <td ng-bind="page.ts * 1000 | date : 'dd/MM/yy HH:mm:ss'"></td>
                <td ng-bind="page.data.no[0]"></td>
                <td ng-if="!page.data.ptpage" ng-bind="page.data.contents" colspan="9"></td>
                <td ng-if="page.data.ptpage" ng-bind="page.data.caller"></td>
                <td ng-if="page.data.ptpage" ng-bind="page.data.phone"></td>
                <td ng-if="page.data.ptpage" ng-bind="page.data.within"></td>
                <td ng-if="page.data.ptpage" ng-bind="page.data.patient"></td>
                <td ng-if="page.data.ptpage" ng-bind="page.data.nhi"></td>
                <td ng-if="page.data.ptpage" ng-bind="page.data.ward"></td>
                <td ng-if="page.data.ptpage" ng-bind="page.data.bed"></td>
                <td ng-if="page.data.ptpage" ng-bind="page.data.why"></td>
                <td ng-if="page.data.ptpage" ng-bind="page.data.details"></td>
                <td><button class="btn btn-default btn-xs btn-block" ng-click="LogCtrl.copy(page.data)">Copy</button></td>
            </tr>
        </tbody>
    </table>
    </div>
</div>