.angular-ui-tree-placeholder {
    background: #f0f9ff;
    border: 2px dashed #bed2db;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.angular-ui-tree-node[collapsed="true"]>.angular-ui-tree-nodes{
    display:none;
}
#prescriptions ul, #demographics ul {
    padding: 0;
    list-style-type: none;
}
#prescriptions li.prescription {
    margin: 10px 0;
}
textarea {
    resize: vertical;
}
#medtable input[type='text']:optional {
    display:none;
}
input.ng-invalid, textarea.ng-invalid {
    background-color:lightyellow;
}
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
#preview pre {
    font-family:inherit;
    background: none;
}