<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Angular Discharge Summary</title>
<!--
        <script src="/bower_components/jquery/dist/jquery.js"></script>
        <script src="/bower_components/jquery-ui/jquery-ui.js"></script>
        <script src="/bower_components/angular-ui-sortable/sortable.js"></script>
        <link rel="stylesheet" type="text/css" href="dc.css">
-->
        <script src="/bower_components/angular/angular.js"></script>
        <script src="/bower_components/angular-ui-tree/dist/angular-ui-tree.js"></script>
        <script src="dc.js"></script>
        <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/bower_components/angular-ui-tree/dist/angular-ui-tree.min.css">
        <link rel="stylesheet" type="text/css" href="demo.css">
    </head>
    <body ng-app="dcsummary">
            <div ng-controller="prefill" class="clearfix">
                <div class="pull-left">
                    <ul id="patient">
                        <li id="pt_name" ng-bind="patient.name.first + ' ' + patient.name.last"></li>
                        <li ng-repeat="line in patient.address" class="pt_address" ng-bind="line"></li>
                        <li id="dob" ng-bind="'Date of birth: ' + patient.dob"></li> 
                        <li id="nhi" ng-bind="'NHI: ' + patient.nhi"></li> 
                    </ul>
                </div>
                <div class="pull-right">
                    <ul id="hospital">
                        <li id="hospital_name" ng-bind="hospital.name"></li>
                        <li ng-repeat="line in hospital.address" class="hosp_address" ng-bind="line"></li>
                    </ul>
                    <ul id="admission">
                        <li id="clinician" ng-bind="admission.clinician"></li>
                        <li id="service" ng-bind="admission.service"></li>
                        <li id="ward" ng-bind="admission.ward"></li>
                        <li id="adate">Date of admission: {{ admission.admission_date | date:'fullDate' }}</li>
                        <li id="ddate">Date of discharge: <input ng-model="admission.discharge_date" type="date"/></li>
                    </ul>
                </div>
            </div>
            <form id="main_form" method="post" target="." ng-controller="body as body">
            <fieldset ui-tree>
                <legend>Diagnoses<a class="btn btn-success btn-xs" ng-click="newItem()">
                <span class="glyphicon glyphicon-plus"></span></a>
</legend>
                <ol id="diagnoses" ui-tree-nodes ng-model="diagnoses">
                    <li ng-repeat="diagnosis in diagnoses" ui-tree-node>
                            <div ui-tree-handle class="bg-info">
                                <input class="diagnosis" data-nodrag ng-model="diagnosis.str"/>
                                <a class="btn btn-danger btn-xs" data-nodrag ng-click="conditionalRemove(this)"><span class="glyphicon glyphicon-remove"></span></a>
                                <a class="btn btn-success btn-xs" data-nodrag ng-click="newSubItem(this)"><span class="glyphicon glyphicon-pencil"></span></a>
                                <a ng-if="diagnosis.extras.length" class="btn btn-info btn-xs" data-nodrag ng-click="this.toggle()"><span class="glyphicon" ng-class="{'glyphicon-plus': collapsed, 'glyphicon-minus': !collapsed}"></span></a>
                            </div>
                            <ol ui-tree-nodes ng-model="diagnosis.extras" ng-class="{hidden: collapsed}">
                                <li ng-repeat="extra in diagnosis.extras" ui-tree-node>
                                <div ui-tree-handle class="bg-success">
                                    <input class="extra" data-nodrag ng-model="extra.str"/>
                                    <a class="btn btn-danger btn-xs" data-nodrag ng-click="this.remove()"><span class="glyphicon glyphicon-remove"></span></a>
                                </div>
                            </ol>
                    </li>
                </ol>
            </fieldset>
            <fieldset>
                <legend>Background</legend>
<textarea name="background" required>Ischaemic heart disease
- STEMI 2007, PCI to LAD
- NSTEMI 2009
Congestive heart failure
- LVEF 30% 2009
COPD
- FEV1 30% predicted 2010
- Ex-smoker, 80 pack-year smoking history
Type 2 diabetes
- diet-controlled
Chronic kidney disease stage IV
- baseline creatinine 150
Obstructive sleep apnoea
- unable to tolerate BIPAP
Dyslipidaemia
Depression
Bilateral total knee joint replacement
Osteoarthritis
Previous septic arthritis L elbow 2003</textarea>
            </fieldset>
            <fieldset>
                <legend>Presentation</legend>
                <textarea placeholder="Hx/Ex/Ix" required></textarea>
            </fieldset>
            <fieldset>
                <legend>Inpatient progress</legend>
                <textarea placeholder="Treatment/response/further issues" required></textarea>
            </fieldset>
            <fieldset>
                <legend>Plan</legend>
                <textarea required></textarea>
            </fieldset>
            <fieldset>
                <legend>Advice to patient</legend>
                <textarea placeholder="Optional"></textarea>
            </fieldset>
            <fieldset>
                <legend>Medications</legend>
                <table id="medtable">
                    <thead>
                        <tr>
                            <th>Drug</th>
                            <th>Admission</th>
                            <th class="hidden"></th>
                            <th>Discharge</th>
                            <th>&#8478;</th>
                            <th>Amount</th>
                            <th class="hidden"></th>
                        </tr>
                    </thead>
                    <tbody id="medtable_body">
                    </tbody>
                </table>
Add <input type="number" min="1" max="10" value="1" id="addnumber"> more: <button type="button" id="addmore">Add</button>
<button type="button" id="checkrx">Check Rx</button>
<hr>
<p id="replace"></p>
<table>
<caption>Current SA numbers</caption>
<tr>
<th>Drug</th>
<th>SA number</th>
<th>Expiry</th>
</tr>
<tr>
<td>Ticagrelor</td>
<td>123456789</td>
<td>June 2015</td>
</tr>
<tr>
<td>Enoxaparin</td>
<td>759472542</td>
<td>May 2017</td>
</tr>
<tr>
<td>peg-GCSF</td>
<td>649845623</td>
<td>Lifetime</td>
</tr>
</table>
            </fieldset>
            <input type="submit" value="Sign off">
        </form>
        <p><em><a href="http://validator.w3.org/check?uri=referer">[Validate HTML5]</a></em></p>
    </body>
</html>
