<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Discharge Summary</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular-animate.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.0/ui-bootstrap-tpls.min.js"></script>
        <script src="/bower_components/angular-ui-tree/dist/angular-ui-tree.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js"></script>
        <script src="data.js"></script>
        <script src="filters.js"></script>
        <script src="directives.js"></script>
        <script src="dc.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" href="/bower_components/angular-ui-tree/dist/angular-ui-tree.min.css">
        <link rel="stylesheet" href="dc.css">
        <!--
        <script src="/bower_components/angular/angular.js"></script>
        <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
        <script src="/bower_components/moment/min/moment.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
        -->
    </head>
    <body ng-app="dcMain" ng-strict-di>
    <div class="container" ng-controller="dcController">
        <h1>Discharge Summary</h1>
        <form class="form-inline">
          <!--
          <div class="form-group">
            <div id="selectUser" class="btn-group">
                <label class="btn btn-primary" ng-model="userName" btn-radio="'doctor'">Doctor</label>
                <label class="btn btn-primary" ng-model="userName" btn-radio="'nurse'">Nurse</label>
                <label class="btn btn-primary" ng-model="userName" btn-radio="'physio'">Physio</label>
            </div>
          </div>
          -->
          <div class="form-group">
            <label for="userName">Current user</label>
            <input ng-model="user.name" class="form-control" id="userName" placeholder="Name" />
          </div>
          <div class="form-group">
            <button type="button" class="btn btn-default" ng-model="user.isPrescriber" btn-checkbox >Prescriber</button>
          </div>
          <div ng-if="user.isPrescriber" class="form-group">
            <label for="userMCNZ">MCNZ</label>
            <input ng-model="user.mcnz" class="form-control" id="userMCNZ" type="number" placeholder="MCNZ"/>
          </div>
        </form>
        <accordion close-others="true" ng-form name="dcForm">
            <accordion-group id="demographics" heading="Demographics">
                <div class="row">
                    <dl id="patient" class="col-sm-4">
                        <dt>Patient</dt>
                        <dd ng-bind="patient.name.first + ' ' + patient.name.last"></dd>
                        <dt>Address</dt>
                        <dd>
                            <ul>
                            <li ng-repeat="line in patient.address" ng-bind="line"></li>
                            </ul>
                        </dd>
                        <dt>Phone</dt>
                        <dd ng-bind="patient.phone"></dd> 
                        <dt>Date of birth</dt>
                        <dd id="dob" ng-bind="patient.dob | date:'longDate'"></dd> 
                        <dt>Age</dt>
                        <dd id="age" ng-bind="patient.age"></dd> 
                        <dt>NHI</dt>
                        <dd id="nhi" ng-bind="patient.nhi"></dd> 
                    </dl>
                    <dl id="gp" class="col-sm-4">
                        <dt>GP</dt>
                        <dd ng-bind="gp.name"></dd>
                        <dt>Address</dt>
                        <dd>
                            <ul>
                            <li ng-repeat="line in gp.address" ng-bind="line"></li>
                            </ul>
                        </dd>
                        <dt>Phone</dt>
                        <dd ng-bind="gp.phone"></dd> 
                        <dt>Fax</dt>
                        <dd ng-bind="gp.fax"></dd> 
                    </dl>
                    <dl id="hospital" class="col-sm-4">
                        <dt>Hospital</dt>
                        <dd ng-bind="hospital.name"></dd>
                        <dt>Address</dt>
                        <dd>
                            <ul>
                                <li ng-repeat="line in hospital.address" ng-bind="line"></li>
                            </ul>
                        </dd>
                    </dl>
                </div>
                <div class="row">
                    <dl id="dates" class="col-sm-4">
                        <dt>Date of admission</dt>
                        <dd id="adate" ng-bind="admission.admission_date | date:'fullDate'"></dd>
                        <dt>Date of discharge</dt>
                        <dd id="ddate" datepicker-popup dc-calendar
                         ng-model="admission.discharge_date"
                         is-open="isOpened"
                         min-date="admission.admission_date"
                         >
                        <span ng-bind="admission.discharge_date | date:'fullDate'"></span>
                        <button type="button" class="btn btn-default" ng-click="openCalendar($event)"><span class="glyphicon glyphicon-calendar"></span></button>
                        </dd>
                        <dt ng-show="admission.discharge_date">Admission duration</dt>
                        <dd ng-show="admission.discharge_date" ng-bind="admission.los"></dd>
                    </dl>
                    <dl id="admission" class="col-sm-4 col-sm-offset-4">
                        <dt>Clinician</dt>
                        <dd id="clinician" ng-bind="admission.clinician"></dd>
                        <dt>Service</dt>
                        <dd id="service" ng-bind="admission.service"></dd>
                        <dt>Ward</dt>
                        <dd id="ward" ng-bind="admission.ward"></dd>
                    </dl>
                </div>
            </accordion-group>
            <accordion-group>
                <accordion-heading>
                    Diagnoses
                    <span class="badge">{{diagnoses.current.length || ''}}</span>
                </accordion-heading>
                <div ui-tree>
                <a class="btn btn-success" ng-click="functions.newItem('current')"><span class="glyphicon glyphicon-plus"></span> Add a diagnosis</a>
                <a class="btn btn-info" ng-click="this.collapseAll()"><span class="glyphicon glyphicon-minus"></span> Collapse all</a>
                <a class="btn btn-info" ng-click="this.expandAll()"><span class="glyphicon glyphicon-plus"></span> Expand all</a>
                <ol ui-tree-nodes="" ng-model="diagnoses.current">
                    <li class="diagnosis" ng-repeat="diagnosis in diagnoses.current" ui-tree-node collapsed="true">
                            <div ui-tree-handle class="input-group">
                                <span class="input-group-addon" ng-bind="$index + 1"></span>
                                <input class="form-control" type="text" ng-model="diagnosis.str"/>
                                <span class="input-group-btn">
                                <a ng-if="diagnosis.extras.length" data-nodrag class="btn btn-info" ng-click="this.toggle()"><span class="glyphicon" ng-class="{'glyphicon-plus': collapsed, 'glyphicon-minus': !collapsed}"></span></a>
                                <a class="btn btn-success" data-nodrag ng-click="functions.newSubItem(this)"><span class="glyphicon glyphicon-pencil"></span></a>
                                <a class="btn btn-danger" data-nodrag ng-click="functions.conditionalRemove(this,1)"><span class="glyphicon glyphicon-remove"></span></a>
                                </span>
                            </div>
                            <ol ui-tree-nodes="" ng-model="diagnosis.extras">
                                <li ng-repeat="extra in diagnosis.extras" ui-tree-node>
                                <div ui-tree-handle class="input-group">
                                    <span class="input-group-addon">{{'abcdefghijklmnopqrstuvwxyz'[$index]}}</span>
                                    <input class="form-control" type="text" ng-model="extra.str"/>
                                    <span class="input-group-btn">
                                    <a class="btn btn-danger" data-nodrag ng-click="this.remove()"><span class="glyphicon glyphicon-remove"></span></a>
                                    </span>
                                </div>
                                </li>
                            </ol>
                    </li>
                </ol>
                </div>               
            </accordion-group>
            <accordion-group>
                <accordion-heading>
                    Background
                    <span class="badge">{{diagnoses.background.length || ''}}</span>
                </accordion-heading>
                <div ui-tree>
                <a class="btn btn-success" ng-click="functions.newItem('background')"><span class="glyphicon glyphicon-plus"></span> Add a diagnosis</a>
                <a class="btn btn-info" ng-click="this.collapseAll()"><span class="glyphicon glyphicon-minus"></span> Collapse all</a>
                <a class="btn btn-info" ng-click="this.expandAll()"><span class="glyphicon glyphicon-plus"></span> Expand all</a>
                <ol ui-tree-nodes="" ng-model="diagnoses.background">
                    <li class="diagnosis" ng-repeat="diagnosis in diagnoses.background" ui-tree-node collapsed="true">
                            <div ui-tree-handle class="input-group">
                                <span class="input-group-addon" ng-bind="$index + 1"></span>
                                <input class="form-control" type="text" ng-model="diagnosis.str"/>
                                <span class="input-group-btn">
                                <a ng-if="diagnosis.extras.length" data-nodrag class="btn btn-info" ng-click="this.toggle()"><span class="glyphicon" ng-class="{'glyphicon-plus': collapsed, 'glyphicon-minus': !collapsed}"></span></a>
                                <a class="btn btn-success" data-nodrag ng-click="functions.newSubItem(this)"><span class="glyphicon glyphicon-pencil"></span></a>
                                <a class="btn btn-danger" data-nodrag ng-click="functions.conditionalRemove(this,0)"><span class="glyphicon glyphicon-remove"></span></a>
                                </span>
                            </div>
                            <ol ui-tree-nodes="" ng-model="diagnosis.extras">
                                <li ng-repeat="extra in diagnosis.extras" ui-tree-node>
                                <div ui-tree-handle class="input-group">
                                    <span class="input-group-addon">{{'abcdefghijklmnopqrstuvwxyz'[$index]}}</span>
                                    <input class="form-control" type="text" ng-model="extra.str"/>
                                    <span class="input-group-btn">
                                    <a class="btn btn-danger" data-nodrag ng-click="this.remove()"><span class="glyphicon glyphicon-remove"></span></a>
                                    </span>
                                </div>
                                </li>
                            </ol>
                    </li>
                </ol>
                </div>
            </accordion-group>
            <accordion-group heading="Presentation" ng-form name="presentationForm" ng-class="{'panel-warning':presentationForm.$invalid}">
                <textarea ng-model="presentation" placeholder="History/Examination/Investigations" class="form-control" rows="10" required></textarea>
            </accordion-group>
            <accordion-group heading="Inpatient progress" ng-form name="progressForm" ng-class="{'panel-warning':progressForm.$invalid}">
                <textarea ng-model="progress" placeholder="Treatment/Response/Further issues" class="form-control" rows="10" required></textarea>
            </accordion-group>
            <accordion-group heading="Plan" ng-form name="planForm" ng-class="{'panel-warning':planForm.$invalid}">
                <textarea ng-model="plan" class="form-control" rows="10" required></textarea>
            </accordion-group>
            <accordion-group heading="Advice to patient">
                <textarea ng-model="advice" placeholder="Optional" class="form-control" rows="10"></textarea>
            </accordion-group>
            
            <accordion-group dc-medications ng-show="user.isPrescriber" ng-form name="drugForm" ng-class="{'panel-warning':drugForm.$invalid}">
                <accordion-heading>Medications <span class="badge">{{drugs.length || ''}}</span>
                </accordion-heading>
                <a class="btn btn-success btn-xs" ng-click="newDrug()"><span class="glyphicon glyphicon-plus"></span> Add a medication</a>
                <table id="medtable" class="table" ng-show="drugs.length">
                    <thead>
                        <tr>
                            <th>Drug</th>
                            <th>Admission</th>
                            <th></th>
                            <th>Discharge</th>
                            <th>&#8478;</th>
                            <th>Amount</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="drug in drugs" ng-class="{{drug.status}}" class="drug" ng-form>
                            <td><input class="form-control" required ng-model="drug.rx" typeahead="drug for drug in drugNames | drugsStartingWith:$viewValue | limitTo:5" type="text"/></td>
                            <td><input class="form-control" ng-required="drug.status !== 'new'" ng-model="drug.admission" type="text" popover="{{drug.admission | friendlyRx}}" popover-trigger="focus" popover-placement="right"/></td>
                            <td><select ng-options="status.short as status.label for status in drugStatusList" ng-model="drug.status" required></select></td>
                            <td><input class="form-control" ng-required="drug.status !== 'cont' && drug.status !== 'stop'" ng-model="drug.discharge" type="text" popover="{{drug.discharge | friendlyRx}}" popover-trigger="focus" popover-placement="right"/></td>
                            <td><input ng-hide="drug.status === 'stop'" ng-model="drug.include" type="checkbox"/></td>
                            <td><input class="form-control" ng-required="drug.status !== 'stop' && drug.include" ng-model="drug.mitte" type="text"/></td>
                            <td><button type="button" ng-click="drugs.splice($index,1)" class="close"><span class="glyphicon glyphicon-remove"></span></button></td>
                        </tr>
                    </tbody>
                </table>
            </accordion-group>

            <accordion-group dc-prescriptions id="prescriptions" ng-show="user.isPrescriber">
                <accordion-heading>Prescriptions <span class="badge">{{filtered.length || ''}}</span>
                </accordion-heading>
                <div ng-hide="filtered.length">No valid prescriptions &hellip;</div>
                <div ng-show="filtered.length">
                <div class="clearfix">
                    <ul class="pull-left">
                        <li ng-bind="patient.name.first + ' ' + patient.name.last"></li>
                        <li ng-repeat="line in patient.address" ng-bind="line"></li>
                    </ul>
                    <ul class="pull-right text-right">
                        <li ng-bind="user.name"></li>
                        <li ng-bind="'MCNZ: ' + user.mcnz"></li>
                        <li ng-bind="hospital.name"></li>
                        <li ng-repeat="line in hospital.address" ng-bind="line"></li>
                    </ul>
                </div>
                <hr />
                <ul>
                    <li ng-repeat="drug in filtered = (drugs | rxFilter)" class="prescription">℞: {{drug.rx}}<br>Sig: {{getSig()}}<br>Mitte: {{ drug.mitte }}</li>
                </ul>
                <hr />
                <div>
                    <div class="pull-left">Signed:</div>
                    <div class="pull-right" ng-bind="date | date:'fullDate'"></div>
                </div>
                </div>
            </accordion-group>
            <accordion-group ng-show="user.isPrescriber">
                <accordion-heading>
                    Current special authority numbers
                    <span class="badge">{{specialAuthority.length || ''}}</span>
                </accordion-heading>
                <table class="table">
                        <tr>
                                <th>Drug</th>
                                <th>SA number</th>
                                <th>Expiry</th>
                        </tr>
                        <tr ng-repeat="item in specialAuthority">
                                <td ng-bind="item.name"></td>
                                <td ng-bind="item.number"></td>
                                <td ng-bind="item.expiry"></td>
                        </tr>
                </table>
            </accordion-group>
        </accordion>
        <div class="btn-group dropup" dropdown>
          <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle>Save <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a href="#">Save and print</a></li>
            <li><a href="#">Save and exit</a></li>
          </ul>
        </div>
        <div class="btn-group dropup" dropdown>
          <button type="button" ng-disabled="dcForm.$invalid" class="btn btn-default dropdown-toggle" dropdown-toggle>Sign off <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a href="#">Sign off and print</a></li>
            <li><a href="#">Sign off and exit</a></li>
          </ul>
        </div>
    </div>
    </body>
</html>
