body {
    margin: 5px;
}
body>* {
    margin: 5px;
    float: left;
    background-color: #F4F4F4;
}
body>div {
    padding: 10px;
}
form>* {
    margin: 10px;
    display: block;
}
fieldset {
    padding: 5px;
    border: 1px solid black;
}
fieldset>div>* {
    display: inline-block;
    margin: 2px 5px;
}
fieldset input {
    width: 80px;
}
#outcome {
    clear: left;
}
#nhi,#ward,#bed {
    text-transform: uppercase;
}
#patient,#caller {
    text-transform: capitalize;
}
#why,#details,#contents {
    width: 290px;
}
label[for="reply"],#reply,label[for="within"] {
    width: inherit;
}
#within {
    width: 30px;
}
input.ng-dirty,textarea.ng-dirty {
    background-position: right;
    background-repeat: no-repeat;
}
input.ng-dirty.ng-valid,textarea.ng-dirty.ng-valid {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAZZJREFUeNpi/P//PwMpgImBRMAy58QshrNPTzP8+vOLIUInisFQyYjhz98/DB9/fmT48/+35v7H+8KNhE2+WclZd+G0gZmJmYGThUNz1fUVMZtvbWT59eUXG9wGZIWMUPj993eJ5VeWxuy8veM/CzPL3yfvH/9H0QBSBDYZyOVm4mGYfn6q4cory5lYmFh+MrEwM/76/YsR7mk2ZjbWP///WP37/y8cqIDhx58fjvtu7XV6//ndT34G/v8FasUsDjKO/+A2PP3wpGLd+TVsfOz8XH6KAT+nHpokcu7h6d9q/BoMxToVbBYqlt9///+1GO4/WVdpXqY/zMqXn13/+vTjI9mj94/y//v9/3e9ZRObvYbDT0Y2xnm///x+wsfHB3GSGLf41jb3rv0O8nbcR66d+HPvxf2/+YZFTHaqjl8YWBnm/vv37yly5LL8+vuLgYuVa3uf/4T/Kd8SnSTZpb6FGUXwcvJxbAPKP2VkZESNOBDx8+9PBm4OwR1TwmYwcfzjsBUQFLjOxs52A2YyKysrXANAgAEA7buhysQuIREAAAAASUVORK5CYII=");
}
input.ng-dirty.ng-invalid,textarea.ng-dirty.ng-invalid {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAT1JREFUeNpi/P//PwMpgImBRMACY/x7/uDX39sXt/67cMoDyOVgMjBjYFbV/8kkqcCBrIER5KS/967s+rmkXxzI5wJiRSBm/v8P7NTfHHFFl5mVdIzhGv4+u///x+xmuAlcdXPB9KeqeLgYd3bDU2ZpRRmwH4DOeAI07QXIRKipYPD35184/nn17CO4p/+cOfjl76+/X4GYAYThGn7/g+Mfh/ZZwjUA/aABpJVhpv6+dQUjZP78Z0YEK7OezS2gwltg64GmfTu6i+HL+mUMP34wgvGvL78ZOEysf8M1sGgZvQIqfA1SDAL8iUUMPIFRQLf+AmMQ4DQ0vYYSrL9vXDz2sq9LFsiX4dLRA0t8OX0SHKzi5bXf2HUMBVA0gN356N7p7xdOS3w5fAgcfNxWtn+BJi9gVVBOQfYPQIABABvRq3BwGT3OAAAAAElFTkSuQmCC");
}
form label {
    text-align: right;
    width: 40px;
}
div.errors>label {
    width: inherit;
    color: red;
    display: block;
    text-align: left;
}
pre, pre+label {
    background-color: #E8E8E8;
    width: 20ch;
    padding: 1ch;
    display: block;
    border: 1px solid black;
    font-family: monospace;
    margin: 5px 0;
    white-space: pre-wrap;
}
